name: TPEN3 Services end to end tests on PR to main
on:
  pull_request:
    branches: main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Create .env from secrets
        run: |
          echo "DOWN=${{ secrets.DOWN }}" >> .env
          echo "SERVERURL=${{ secrets.SERVERURL }}" >> .env
          echo "MONGODBNAME=${{ secrets.MONGODBNAME }}" >> .env
          echo "MONGODB=${{ secrets.MONGODB }}" >> .env
          echo "TPENPROJECTS=${{ secrets.TPENPROJECTS }}" >> .env
          echo "TPENGROUPS=${{ secrets.TPENGROUPS }}" >> .env
          echo "TPENUSERS=${{ secrets.TPENUSERS }}" >> .env
          echo "MARIADBNAME=${{ secrets.MARIADBNAME }}" >> .env
          echo "MARIADB=${{ secrets.MARIADB }}" >> .env
          echo "MARIADBUSER=${{ secrets.MARIADBUSER }}" >> .env
          echo "MARIADBPASSWORD=${{ secrets.MARIADBPASSWORD }}" >> .env
          echo "RERUMIDPREFIX=${{ secrets.RERUMIDPREFIX }}" >> .env
          echo "TINYPEN=${{ secrets.TINYPEN }}" >> .env
          echo "AUDIENCE=${{ secrets.AUDIENCE }}" >> .env
          echo "DOMAIN=${{ secrets.DOMAIN }}" >> .env
          echo "TPEN_SUPPORT_EMAIL=${{ secrets.TPEN_SUPPORT_EMAIL }}" >> .env
          echo "SMTP_HOST=${{ secrets.SMTP_HOST }}" >> .env
          echo "SMTP_PORT=${{ secrets.SMTP_PORT }}" >> .env
          echo "TPEN_EMAIL_CC=${{ secrets.TPEN_EMAIL_CC }}" >> .env
      - name: Setup Node.js
        uses: actions/setup-node@master
        with:
          node-version: "^22.20.0"
      - name: Cache node modules
        uses: actions/cache@master
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{
            hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install dependencies and run the test
        run: |
          npm install
          npm run E2Etests
          
